<div id={{carousel.id}} class="carousel" >
    {{#each carousel.items}}
        {{!-- <div class="numbertext">
            {{ currentSlide @index }} / {{ ../slides }}
        </div> --}}
        <div class="slide kenburns-top-right" 
                style="background-image: url('{{this.image}}')">
        </div>
        {{!-- <div class="text">
            {{ this.caption }}
        </div> --}}
	{{/each}}
</div>