<div id={{carousel.id}} class="carousel" >
    {{#each carousel.items}}
        <div class="slide kenburns-top-right" {{{ styleSlide this.styles }}}>
            {{!-- <div class="numbertext">
                {{ currentSlide @index }} / {{ ../carousel.items.length}}
            </div>
            <div class="text">
                {{ this.caption }}
            </div> --}}
        </div>
	{{/each}}
</div>