<a href="/product/{{id}}" class="productCardLink" data-node-type="product" data-node-id="{{id}}"
    data-node-productLevelId="<%= product.productLevelId %>">
    <div class="productCard">
        <div class="productCardName">
            {{ name }}
        </div>
        <div class="productCardImage" style="background-image: url('{{image}}')"></div>
        <div class="productCardUnitCost">
            {{ unitCost }}
        </div>
    </div>
</a>