{{> navbar }}
<div class="productContainer">
    {{> lightBox }}
</div>
{{!-- <div>Id: {{product.id}}</div>
<div>Name: {{product.name}}</div>
<div>Description: {{product.description}}</div>
<div>Image: {{product.image}}</div>
<div>Cost: {{product.unitCost}}</div> --}}

